parameters:
  level: 4
  paths:
    - src
    - spec
  scanDirectories:
    - %currentWorkingDirectory%/vendor/giorgiosironi/eris/src/
  ignoreErrors:
    - '#is_callable.*recruiter_#'
    - '#recruiter_became_master#'
    - '#recruiter_stept_back#'
    - '#Unsafe usage of new static\(\).#'
    - '#to an undefined .* Sink\\BlackHole#'
  inferPrivatePropertyTypeFromConstructor: true
