parameters:
  level: 0
  paths:
    - src
    - spec
  scanDirectories:
    - %currentWorkingDirectory%/vendor/giorgiosironi/eris/src/
  ignoreErrors:
    - '#Instantiated class Recruiter\\Workable\\ThisClassDoesnNotExists not found.#'
    - '#Function recruiter_became_master not found.#'
    - '#Function recruiter_stept_back not found.#'
    - '#Unsafe usage of new static\(\).#'
  inferPrivatePropertyTypeFromConstructor: true
